@media only screen and (max-width: 1500px) {
    /*Header*/
    .barra-navegacion{
        width: 1400px;
        height: 80px;
        left: -10px;
    }
    .btn-portafolio{
        left: 0%;
        top: 10px;
    }
    .btn-avilidades{
        left: 0%;
    }
    .btn-experiencia{
        left: 0%;
    }
    .btn-contacto{
        left: 0%;
    }
    .contenedor_botones{
        position: relative;
        text-align: center;
    }
    /*portada celular y Boton efecto 3D*/
    
    .foto{
        left: 100px;
        width: 1200px;
        height: 790px;
        perspective: 1000px;
    }
    .bt-rotar{
        left: 1000px;
        top: 370px;
    }
    #cel{
        left: 450px;
        top: 0px;
    }
    /*Havilidades*/
    .avilidades{
        left: 100px;
        padding: auto;
        margin: 0 auto;

    }
    /*Experiencia*/
    #expeeriencia{
        left: 100px;
    }
    /*Contacto*/
    .contacto{
        width: 130%;
        left: 50px;
    }
    .linea1{
        width: 1280px;
    }
    .linea3{
        left: 1290px;
    }
    

}